body {
  background-color: #fcfcfc;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 3vh;
}

fieldset {
  margin-bottom: 12px;
  border-radius: 5px;
  border: 2px solid #999;
  background-color: #fff;
  padding: 15px;
}

fieldset div input, fieldset div select, fieldset legend {
  margin-bottom: 12px;
}

li {
  line-height: 32px;
}

label {
  display: block;
}

.remove-layer {
  float: right;
  border: 0;
  background-color: #DDD;
  border-radius: 20%;
  font-size: 16px;
  font-weight: bold;
  margin-top: -18px;
  color: #900;
}

.App ul, .App fieldset, .App div {
  text-align: left
}

.count-display {
  font-weight: bold;
  padding: 0 5px;
}

.descriptors {
  width: 49%;
  float: left;
}

.insert-layer {
  border: 2px solid #cecece;
}

.insert-layer:hover {
  border: 2px solid #999;
}

.remove {
  margin-right: 10px;
}

#loe-predictor {
  font-size: 22px;
  margin-bottom: 18px;
}

#functional-units {
  margin-bottom: 28px;
  width: 100%
}

#notes {
  float: left;
  width: 49%;
  margin-left: 2%;
}

#notes textarea {
  width: 98%;
}

@media only screen and (max-width: 1024px) {
  label {
    display: block;
    width: auto;
  }

  .descriptors {
    float: none;
    width: 100%;
  }

  #notes {
    float: none;
    width: 100%;
    margin: auto;
  }
}
