.App {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

fieldset {
  margin-bottom: 12px;
  border-radius: 5px;
}

fieldset div input, fieldset legend {
  margin-bottom: 12px;
}

.remove-layer {
  float: right;
  border: 0;
  background-color: #DDD;
  border-radius: 20%;
  font-size: 16px;
  font-weight: bold;
  margin-top: -18px;
  color: #900;
}

#loe-predictor {
  font-size: 22px;
  margin-bottom: 18px;
}

.App ul, .App fieldset, .App div {
  text-align: left
}

.count-display {
  font-weight: bold;
  padding: 0 5px;
}